.social__container {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 1024px) {
    .social__icon {
        font-size: 150%;
    }
}

@media only screen and (max-width: 600px) {
    
}