.about__container {
    justify-content: center;
    display: flex;
}

.me__container {
    width: 50%;
    aspect-ratio: 1/1;
    padding: 2.5% 8% 8% 8%;
}

.me__image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.me__background {
    border-radius: 2rem;
    background: var(--primary-color);
    place-items: center;
}

.me__image:hover {
    transform: rotate(0deg);
}

.cards__container {
    padding: 0 5% 5% 5%;
    width: 50%;
}

.cards-sub__container {
    display: flex;
    flex-direction: row;
    height: 43.5%;
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 1024px) {
    .about__container {
        display: block;
    }

    .me__container {
        margin: 0 auto 0 auto;
        width: 65%;
        padding: 5%;
    }

    .cards__container {
        margin: 0 auto 0 auto;
        width: 100%;
    }

    .cards-sub__container {
        justify-content: center;
        height: 50%;
    }
}

@media only screen and (max-width: 600px) {
    
}

