.card {
    text-align: center;
    border-radius: 2rem;
    border: 1px solid;
    border-color: var(--primary-color);
    width: 100%;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 170px;
    min-height: 170px;
    margin: 1rem;
    aspect-ratio: 1/1;
}

.card:hover {
    background-color: var(--bg-variant-color);
}

.icon {
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 600px) {
    .icon {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .card__headline {
        font-size: 100%;
    }

    .card__content {
        font-size: 80%;
    }

    .card {
        min-width: 100px;
        min-height: 100px;
        margin: .5rem;
    }
}