.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.text-box-wrapper {
  position: relative;
  height: 80vh;
  background-color: var(--violet);
  display: flex;
  animation-name: text-box-slide-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  box-shadow: var(--box-shadow);
}

@keyframes text-box-slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.text-box {
  overflow: scroll;
  margin: 50px;
  color: var(--dark-grey);
  font-size: 24px;
  line-height: 1.7;
  font-weight: 800;
}
