.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 80px;
  background-color: var(--dark-grey);
  border-bottom: 1px solid var(--white);
}

.routerlinks {
  display: flex;
  align-items: center;
}

.routerlink {
  font-size: 20px;
  width: 150px;
  text-align: center;
  color: var(--white);
}
