.course {
    border: 1px solid;
    border-radius: 1rem;
    aspect-ratio: 2/1;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 80%;
    padding: .5rem;
}

.course:hover {
    background-color: var(--bg-variant-color);
}

.course__content {
    font-size: 110%;
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 1024px) {
    .course {
        width: 90%;
    }

    .course__content {
        font-size: 120%;
    }
}

@media only screen and (max-width: 600px) {
    .course__content {
        font-size: 95%;
    }

    .course {
        width: 95%;
        height: 6.5rem;
        aspect-ratio: 0;
    }
}